# --- Web stack (versiones compatibles entre sí) ---
fastapi==0.111.0
starlette==0.37.2
pydantic==2.7.4           # NO fijes pydantic_core
uvicorn[standard]==0.30.0
gunicorn==21.2.0

# --- ML / utils ---
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2       # idealmente igual a la usada para entrenar el .pkl

# xgboost==2.0.3           # SOLO si realmente lo usas en predicción
